@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


body {
    background-color: #003459 !important;
    font-family: 'Poppins', sans-serif;
}

.background {
    background: #003459 !important;
    color: white !important;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}


.login-wrapper {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    height: calc(100vh - 60px);
    /* width: calc(100vw - 351px); */
}

.signup-wrapper {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    height: calc(100vh - 60px);
    /* width: calc(100vw - 351px); */
}

.signup .login {
    width: 100%;
}

input {
    display: block;
    width: 100%;
}

#log,
#sign {
    font-size: 18px;
    font-weight: 500;
}

.signup.bg-light-subtle.rounded-4 {
    overflow: hidden;
}

.signup.form-wrapper.p-5 {
    animation: 3s infinite move ease-in-out;
    transition: all 2s;
}

@keyframes move {

    0%,
    25% {
        transform: translateX(0%);
        left: -100%;
    }

    75%,
    100% {
        transform: translateX(-100%);
        left: 0%;
    }
}